{
  "SUPABASE_URL": "https://njxrftlsnanhlnapzadp.supabase.co",
  "SUPABASE_ANON_KEY": "PASTE_ANON_OR_PUBLISHABLE_KEY_HERE",
  "API_BASE_URL": "https://api.hofa.com.vn",
  "APP_VERSION": "0.1.0+1",
  "FIREBASE_API_KEY": "AIzaSyDxy5zm1SaYYZh5Z3TbTeMZBSaqqmxlbPA",
  "FIREBASE_AUTH_DOMAIN": "hofa-production.firebaseapp.com",
  "FIREBASE_PROJECT_ID": "hofa-production",
  "FIREBASE_STORAGE_BUCKET": "hofa-production.firebasestorage.app",
  "FIREBASE_MESSAGING_SENDER_ID": "265406466413",
  "FIREBASE_APP_ID": "1:265406466413:web:cca1f24788dafe39143264",
  "FIREBASE_VAPID_KEY": "BGsDjy8wVqwgVjbv75_L2dauvFNhIw1lPZ3KABgIsQ8irVmWGdGMlUQFVQ4g4zUuIUpsXAiAIxB0u3zQUnNiMGs"
}
